* {
  margin: 0;
  padding: 0;
}
/* header-container */
.header-container {
  background-color: rgba(23, 22, 22, 0.929);
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo-img {
  width: 200px;
}

.li-container {
  font-size: 20px;
  gap: 20px;
  display: flex;
  cursor: pointer;
}
li {
  list-style: none;
}
li:hover{
    color: #e2bdbd;
}

/* start main section  */
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-image: url("/images/background.png"), linear-gradient(45deg, rgb(33, 33, 33), #000);
}
.banner-title{
    font-size: 50px;
    font-weight: 900;
}
.banner-p-text{
    font-weight: 900;
    margin-top: 20px;
}
.banner-img{
    width: 350px;
}
.banner-button{
    border: none;
    margin-top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    background-color: red;
    color: white;
}
.banner-button:hover{
    background-color: rgb(135, 23, 23);
    color: wheat;
}
.section-title{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-header{
    margin-bottom: 20px;
    font-weight: 900w;
}
.about-img{
    width: 300px;
}